# Data Science Tools and Ecosystem

In this note book, Data Science Tools and Ecosystem are summerized

**Objectives:**

- Some popular languages that data scientist use
* Some common;y used libraries used by data scientist
+ Creating a markdown cell with a table of Data Science tools
- Creating a markdown cell introducing arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplolib
4. Keras
5. Tensorflow

|Data Scince Tools|
--------------------
|Rstudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python
(3*4)+5

12+5

23-23

98(45+4)

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Odediran Olabode